@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
#root,
.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  height: 100%;
  color: white;
  background-color: #121213;
}
.App .hp {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 2px solid white;
  position: fixed;
  top: 4px;
  right: 4px;
  font-size: 24px;
  cursor: pointer;
  z-index: 99;
}
.contain {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: relative;
  height: 100%;
}
.contain .message {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.contain .message .tab {
  min-height: 80px;
  border-radius: 8px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: green;
  color: white;
  padding: 10px;
  box-sizing: border-box;
}
.contain .message .tab h2 {
  cursor: pointer;
  color: black;
  border-radius: 4px;
  background-color: white;
  box-sizing: border-box;
  padding: 4px;
  margin-top: 8px;
}
.guesses {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
  position: relative;
  width: 100%;
}
.guess {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.guess .gl {
  height: 62px;
  width: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  margin: 4px;
  text-transform: capitalize;
  font-size: 36px;
  perspective: 1000px;
}
.guess .gl.flipped {
  transition: 0.5s;
}
.guess .gl.flipped .flipper {
  transition: 0.5s;
  transform: rotateX(-180deg);
}
.guess .gl.flipped .d1 {
  transition-delay: 500ms;
}
.guess .gl.flipped .d2 {
  transition-delay: 1000ms;
}
.guess .gl.flipped .d3 {
  transition-delay: 1500ms;
}
.guess .gl.flipped .d4 {
  transition-delay: 2000ms;
}
.guess .gl .flipper {
  transform-style: preserve-3d;
  transform-origin: 100% 31px;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.guess .gl .front,
.guess .gl .back {
  height: 62px;
  width: 62px;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  animation-duration: 1s;
  transition: 0.5s;
}
.guess .gl .front {
  z-index: 2;
  transform: rotateX(0deg);
  border: 2px solid #939598;
}
.guess .gl .back {
  transform: rotateX(180deg);
}
.keys {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 360px;
  position: relative;
  height: 175px;
}
.key {
  position: relative;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 8px;
  align-items: center;
  text-align: center;
  height: 50px;
  min-width: 30px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #939598;
  color: white;
  margin: 0 5px 0 0;
}
.key.z {
  margin-left: 10.2px;
}
.key.submit {
  position: absolute;
  top: 121px;
  left: 5px;
  margin: 0;
  cursor: pointer;
}
.key.delete {
  position: absolute;
  top: 121px;
  right: 0;
  margin: 0;
  width: 55px;
  cursor: pointer;
  font-size: 21px;
}
.key.test {
  position: absolute;
  top: -120px;
  right: 25px;
  margin: 0;
  width: 55px;
}
.help {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 100;
}
.help .close {
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 36px;
}
.help .help-wrap {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
}
.help .help-wrap p {
  width: 100%;
}
.help .help-wrap h3,
.help .help-wrap p {
  margin-top: 8px;
}
@keyframes warn_shake {
  0% {
    background-color: inherit;
  }
  50% {
    background-color: #fd2c2c;
  }
  100% {
    background-color: inherit;
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.warning .gl .flipper .front {
  animation-name: warn_shake, shake;
}
.scores .score {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  width: 300px;
}
.scores .score h3 {
  width: 35px;
  text-align: center;
}
.scores .bar {
  width: 200px;
  height: 10px;
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
.scores .bar .fill {
  background-color: white;
  height: 100%;
}
/*# sourceMappingURL=index.css.map */